<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/navbar') %>

    <%- include('../partials/hero') %>

    <footer class="py-5 bg-dark">
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>